<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>93348451660-efu2hbt1v07cjnr2hcfe2vidj8325kfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93348451660-efu2hbt1v07cjnr2hcfe2vidj8325kfc</string>
	<key>API_KEY</key>
	<string>AIzaSyCk7U3r1KH8JDOTIwbKEgiQjwd3tAbE90w</string>
	<key>GCM_SENDER_ID</key>
	<string>93348451660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>risingsun.driver.app</string>
	<key>PROJECT_ID</key>
	<string>delivery-f2be5</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-f2be5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93348451660:ios:43c38f3017a21f95</string>
	<key>DATABASE_URL</key>
	<string>https://delivery-f2be5.firebaseio.com</string>
</dict>
</plist>